<article class="card">
    <div class="card__header">
        <h1>{{product.name}}</h1>
        <div class="promo_star"></div>
        @if (product.isPromo) {
            <span class="promo_star">⭐</span>
          }          
    </div>
    <div class="card__img">
        <img src={{product.img}} alt="">
    </div>
    <div class="card__body">
        <p>Preço: R$ {{product.price}}</p>
    </div>
    <div class="card__footer">
        <button (click) ="addToCart()">Adicionar ao Carrinho</button>
    </div>
</article>