<article class="container">
    <div class="container__header">
        <h1>{{titulo}}</h1>
    </div>
    <div class="container__body">
        <app-card  [product]="{ name: 'IPhone 13', 
        img: 'https://raw.githubusercontent.com/hdpngworld/HPW/main/uploads/65038654434d0-iPhone%2015%20Pro%20Natural%20titanium%20png.png',
        price: 1999.99, 
        isPromo: true }"
        (addToCartEvent)="onAddToCart()"></app-card>
        <app-card [product]="{
            name: 'MacBook',
            img:'https://www.pngarts.com/files/4/Apple-Macbook-Pro-PNG-Background-Image.png',
            price: 3000.00,
            isPromo: false}"></app-card>
    </div>
</article>