.container{
    width: 90%;
    height: 90vh;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    border: black solid 1px;
}

.container__header{
    padding: 16xp;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    border-bottom: solid 2px brown;
}

.container__header h1{
    color: rgb(85, 84, 84);
    font-size: 1.8em;
}

.container__header h2{
    color: grey;
    font-size: 1.2;
}

.container__body{
    padding: 16px;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    border-bottom: solid 2px rgb(235, 235, 235);
}